In [1]:
import pandas as pd
import numpy as np
import cdflib
from sgp4.api import Satrec, jday
from datetime import datetime
import xarray as xr
import re
import os

whi_int = pd.read_pickle('whi_int.pkl')
all_conj = pd.read_pickle('all_conj.pkl')

In [2]:
whi_int

                          dt1                       dt2
120 2011-07-23 01:40:00+00:00 2011-07-23 01:52:00+00:00
122 2011-07-27 14:22:00+00:00 2011-07-27 14:34:00+00:00
123 2011-07-29 20:47:00+00:00 2011-07-29 20:58:00+00:00
124 2011-08-01 03:13:00+00:00 2011-08-01 03:23:00+00:00
125 2011-08-03 09:39:00+00:00 2011-08-03 09:48:00+00:00
127 2011-08-07 22:28:00+00:00 2011-08-07 22:38:00+00:00
128 2011-08-10 04:52:00+00:00 2011-08-10 05:02:00+00:00
129 2011-08-12 11:16:00+00:00 2011-08-12 11:26:00+00:00
130 2011-08-14 17:42:00+00:00 2011-08-14 17:50:00+00:00
131 2011-08-17 00:07:00+00:00 2011-08-17 00:15:00+00:00
134 2011-08-23 19:12:00+00:00 2011-08-23 19:20:00+00:00
136 2011-08-28 07:48:00+00:00 2011-08-28 07:52:00+00:00
137 2011-08-30 14:06:00+00:00 2011-08-30 14:10:00+00:00
139 2011-09-04 02:40:00+00:00 2011-09-04 02:45:00+00:00
140 2011-09-06 08:56:00+00:00 2011-09-06 09:01:00+00:00
141 2011-09-08 15:13:00+00:00 2011-09-08 15:16:00+00:00
142 2011-09-17 16:21:00+00:00 2011-09-17 16:23:00+00:00
143 2011-09-19 22:38:00+00:00 2011-09-19 22:39:00+00:00
144 2011-10-03 12:19:00+00:00 2011-10-03 12:21:00+00:00
145 2011-10-14 19:41:00+00:00 2011-10-14 19:43:00+00:00
146 2011-10-17 01:57:00+00:00 2011-10-17 02:00:00+00:00
147 2011-10-19 08:13:00+00:00 2011-10-19 08:15:00+00:00
148 2011-10-26 03:05:00+00:00 2011-10-26 03:06:00+00:00
149 2011-10-28 09:20:00+00:00 2011-10-28 09:24:00+00:00
151 2011-11-01 21:50:00+00:00 2011-11-01 21:55:00+00:00
152 2011-11-04 04:07:00+00:00 2011-11-04 04:11:00+00:00
153 2011-11-06 10:23:00+00:00 2011-11-06 10:27:00+00:00
154 2011-11-08 16:39:00+00:00 2011-11-08 16:44:00+00:00
155 2011-11-10 22:54:00+00:00 2011-11-10 23:00:00+00:00
156 2011-11-13 05:09:00+00:00 2011-11-13 05:15:00+00:00
157 2011-11-15 11:25:00+00:00 2011-11-15 11:30:00+00:00
159 2011-11-19 23:58:00+00:00 2011-11-20 00:03:00+00:00
160 2011-11-22 06:15:00+00:00 2011-11-22 06:20:00+00:00
161 2011-11-24 12:30:00+00:00 2011-11-24 12:36:00+00:00
163 2011-11-29 01:00:00+00:00 2011-11-29 01:06:00+00:00

#### Outputs conjunctions where WHISPER data is available, within the range set by 'max_dist'. Essentially searches for common datetimes between the conjunctions list and the WHISPER availability list.

In [154]:
max_dist = 200

conj = all_conj.loc[(all_conj['conj-dist'] < max_dist)].sort_values(by='conj-time').reset_index(drop=True)
whi_int = whi_int.reset_index(drop=True)
whi_int['dt1'] = whi_int['dt1'].dt.tz_localize(None)
whi_int['dt2'] = whi_int['dt2'].dt.tz_localize(None)

all_index = []
for i in whi_int.index:
    a = np.nonzero(conj['conj-time'] > whi_int['dt1'][i])[0]
    b = np.nonzero(conj['conj-time'] < whi_int['dt2'][i])[0]
    index = list(set(a).intersection(b))
    if len(index) == 0:
        continue
    else:
        all_index = np.concatenate((all_index, index))

# conj.loc[all_index].sort_values(by='conj-time').reset_index(drop=True).to_pickle('whi_conj_200.pkl')

In [4]:
print(len(set(pd.read_pickle('whi_conj_200.pkl')['sat-ID'])))

pd.read_pickle('whi_conj_200.pkl')

43

   sat-ID  int-index           conj-time   conj-dist
0    4578      122.0 2011-07-27 14:24:06  122.685956
1   25039      122.0 2011-07-27 14:24:59   65.421226
2   20432      122.0 2011-07-27 14:25:50  166.397907
3   16262      122.0 2011-07-27 14:27:34  171.232289
4   30777      123.0 2011-07-29 20:51:22  159.361335
5   28809      123.0 2011-07-29 20:54:21   71.838822
6    6392      125.0 2011-08-03 09:47:12  155.521221
7   20442      125.0 2011-08-03 09:47:50  185.874829
8   11060      127.0 2011-08-07 22:28:02  154.663968
9   26548      127.0 2011-08-07 22:29:10  138.173452
10   5917      127.0 2011-08-07 22:32:58  170.443614
11  24839      127.0 2011-08-07 22:34:05  164.199506
12  23827      127.0 2011-08-07 22:34:24  192.487149
13  20478      128.0 2011-08-10 04:59:00  161.757606
14   6019      128.0 2011-08-10 05:00:24  146.419006
15    116      129.0 2011-08-12 11:17:06  146.265618
16  25469      129.0 2011-08-12 11:17:53  115.317331
17    731      129.0 2011-08-12 11:17:58  169.516271
18   4047      130.0 2011-08-14 17:42:44  139.556930
19   1510      130.0 2011-08-14 17:45:50  101.731627
20  13492      130.0 2011-08-14 17:49:13   80.172261
21  15755      131.0 2011-08-17 00:10:35  195.907481
22  21577      131.0 2011-08-17 00:13:12  134.911263
23  13301      139.0 2011-09-04 02:41:38  124.810237
24  25119      139.0 2011-09-04 02:41:47  180.984097
25   1510      139.0 2011-09-04 02:42:43   99.304632
26  11869      140.0 2011-09-06 08:56:31  198.962766
27   8591      149.0 2011-10-28 09:21:58   40.134123
28  29678      151.0 2011-11-01 21:50:58   79.444061
29  25590      153.0 2011-11-06 10:23:27  134.180701
30   9661      153.0 2011-11-06 10:24:39  150.616460
31   8197      154.0 2011-11-08 16:42:00   39.192903
32  15503      154.0 2011-11-08 16:42:59  130.256726
33   7714      155.0 2011-11-10 22:54:41  194.849461
34   1208      156.0 2011-11-13 05:14:00   48.101274
35    728      156.0 2011-11-13 05:14:25   92.525665
36  14084      159.0 2011-11-19 23:59:17  169.686005
37   2674      159.0 2011-11-20 00:02:28  112.258181
38  10703      159.0 2011-11-20 00:02:41  180.734726
39  24954      160.0 2011-11-22 06:16:39  137.656528
40   7094      160.0 2011-11-22 06:19:47   81.060076
41  18312      163.0 2011-11-29 01:00:09   69.444480
42  25477      163.0 2011-11-29 01:03:12  113.961559
43  25416      163.0 2011-11-29 01:04:31  141.079947